go 1.25.3

use (
	./gen
	./nodes
	./platform/archivist
	./platform/clerk
	./platform/eventbus
	./platform/frictionledger
	./platform/librarian
	./platform/monitor
	./platform/operator
	./platform/pkg/eventbus
	./platform/sidecar
	./sdk/go
	./tools/haiku-watch
)
