go 1.26.0

use (
	./gen
	./nodes
	./platform/archivist
	./platform/cartographer
	./platform/eventbus
	./platform/federation
	./platform/frictionledger
	./platform/librarian
	./platform/monitor
	./platform/operator
	./platform/pkg/eventbus
	./platform/pkg/metadata
	./platform/pkg/randid
	./platform/pkg/relay
	./platform/queue
	./platform/sidecar
	./sdk/go
	./tools/flowctl
)
